.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0%;
  min-height: 80vh;
  background: url("image.png") no-repeat center center fixed;
  box-sizing: border-box;
  background-size:contain;
}

.container {
   width: 100%;
   position: absolute;
}

.card {
  position: relative;
  background: rgb(245, 119, 119);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: -10px auto 10px auto;
  padding: 0.5rem;
  border: 1px solid rgb(245, 119, 119);
  border-radius: 50px 5px 50px 5px;
  font-style: italic;
}

button {
  background-color: #000;
  color: #fff;
  border: 1px solid rgb(245, 119, 119);
  padding: 10px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}
